@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .heading{
        @apply text-midnight font-bold font-montserrat sm:text-[42px] text-3xl sm:leading-[50px] leading-10
    }
}



.mySwiper .swiper-pagination-bullet {
    background-color: wheat;
    height: 10px !important;
    width: 10px !important;
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background-color: coral;
    height: 10px ;
    width: 10px; /* Change this to your desired active color */
  }
